<script type="text/jsx">
  var markdownConverter = new Showdown.converter();

  /** @jsx React.DOM */
  var Comment = React.createClass({
    render: function() {
      var contentMarkdown = markdownConverter.makeHtml((this.props.children || '').toString())

      return (
        <div className="comment">
          <span>
            <b>{this.props.author}: </b>
          </span>

          <span>
            <em>{this.props.content}</em>
          </span>

          <span dangerouslySetInnerHTML={{__html: contentMarkdown}} />
        </div>
      );
    }
  });

  var CommentList = React.createClass({
    render: function() {
      return (
        <div className="commentList">
          <Comment author="Damian Jaszczurowski" content="absolutely amazing" >
            ```
              var foo = 'It may event render the markdown!';
            ```
          </Comment>
          <Comment author="Billy Kid" content="must agree..." />
        </div>
      );
    }
  });

  var CommentForm = React.createClass({
    render: function() {
      return (
        <div className="commentForm">
          CommentForm content
        </div>
      )
    }
  });

  var CommentBox = React.createClass({
    render: function() {
      return (
        <div className="commentBox">
          These are the comments:
          <CommentList />
          Enter new comment:
          <CommentForm />
        </div>
      );
    }
  });

  React.render(<CommentBox />, document.getElementById('content'))
</script>